// 設定頁面與物件邊界為0(沒有空白),設定水平置中,物件與物件邊界為0(沒有空白)
// 管理所有物件 最大階層


// 匯入檔案 需在所有設定之前
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

*{
    // 頁面與物件邊界,設定水平置中
    // 4個值為:上 右 下 左 ;兩個值為 上下 左右
    margin: 0 auto;
    // 物件與物件邊界
    padding: 0;
    // 隱藏所有項目符號
    list-style-type: none;
    // 字形
    font-family: 'cwTeXYen', sans-serif,'微軟正黑體';
    }
img {
    width: 100%;
    height: auto;
}

.clear{
    clear:both;
  }
a{
    // 隱藏連結樣式底線
    text-decoration: none;
    // 文字顏色
    color: aquamarine;
}
a:hover {
    // 文字顏色
    color:chocolate;
    // 文字加粗
    font-weight: 650;
}
// 變數區
$W10: 100vw;
$Tpx: 16px;  // 設定文字尺寸的基礎值 單位 16px (固定值)
$Trem: 1rem;// 設定文字尺寸的基礎值 單位 1rem (百分比)
$Em: 1em;
$WPer: 10%;

$NW: $W10; // 導覽列的寬
$NH: 65px; // 導覽列的高

// 輪播圖
$BHsmall: 280px; // 超小與小裝置

// 計算寬度,分為10等份
$W1: $W10 / 10 * 1;// 寬度１等分 
$W2: $W10 / 10 * 2;// 寬度２等分
$W3: $W10 / 10 * 3;// 寬度３等分
$W4: $W10 / 10 * 4;// 寬度４等分
$W5: $W10 / 10 * 5;// 寬度５等分
$W6: $W10 / 10 * 6;// 寬度６等分
$W7: $W10 / 10 * 7;// 寬度７等分
$W8: $W10 / 10 * 8;// 寬度８等分
$W9: $W10 / 10 * 9;// 寬度９等分
$W10: $W10 / 10 * 10;// 寬度１０等分

// 繼承區 無法直接撰寫在共用區呼叫;也無法與mixin混合函式共用
%Dn {
    // 不顯示
    display: none;
}

// mixin 混合函式
@mixin Dn {
    display: none;
}

//  mixin 混合函式
@mixin ON {
    display: none;
}
// 背景圖片替代文字
   @mixin  BG($Folder,$Photo,$Bs) {
    // 插值(Interpolation),基於javascript es6
    // #{$variab name},自行輸入值
    // 背景圖位置
    background-image: url(../../imgs/#{$Folder}/#{$Photo});
    
    // 將文字移至裝置之外
    text-indent: -999999px;
    // 背景圖片對奇(定位點)
    background-position: center;
    // 背景圖片取消重複顯示
    background-repeat: no-repeat;
    // 背景圖片尺寸 auto自動 cover(背景圖片小於容器時,放大圖片至容器的大小並填滿;背景圖片大於容器時,縮小圖片至容器的大小並填滿;缺點,容器的長寬比例與背景圖片比例不合時,會出現背景圖片失真)contain (背景圖片大於容器時,縮小至在容器內呈現,會留邊界)
    background-size: $Bs;
}


// 設定 05 06 07 檔案共用的寬度,導覽列的按鈕,所以會在nav 內呼叫
@mixin LargeNav($multiple,$BtnNum){
    // 計算方式
    // 設定 寬度的基準值 5%
    $W05: 5%;
    // 設定 代表 Logo寬度的變數 30% ;寬度的倍數
    $LogoWidth: $W05 *$multiple ;
    

    //設定代表LI寬度的變數:(總寬度- LOGO寬度) /剩餘的按鈕數
    $liWidth: ($W10 - $LogoWidth) / $BtnNum;
    // 樣式數
     #Logo{
        //  寬度
        width: $LogoWidth;
     }
    li{
        width: $liWidth;
    }
} 