// 設定頁面與物件邊界為0(沒有空白),設定水平置中,物件與物件邊界為0(沒有空白)
// 管理所有物件 最大階層
*{
// 頁面與物件邊界,設定水平置中
// 4個值為:上 右 下 左 ;兩個值為 上下 左右
margin: 0 auto;
// 物件與物件邊界
padding: 0;
// 隱藏所有項目符號
list-style-type: none;

// 變數區
$W10: 100%;

$NW: $W10;
// 導覽列的寬
$NH: 65px;
// 導覽列的高

// 計算寬度,分為10等份

$W2:$W10 / 10 * 2;
$W7:$W10 / 10 * 7;
$W8:$W10 / 10 * 8;
$W9:$W10 / 10 * 9;


// 導覽列:只顯示Logo和Mene,其餘不顯示
      // css3集合寫法,將共同的樣式一同編輯
      #Portfolio, #About, #Project, #Connection {
        @extend %Dn;
       }
}