

%subnav{
  width: 50%;
  color:white;
}
    
   

  header{
    nav{
     $NH: 7vh;
     height: $NH;
     background-color: lightpink;
     li{
       float: left;
     }
     #Logo{
       width: $W1 * 9;
       font-size: $Trem * 2;
       text-indent: 30px;
       line-height: $NH;
       background-color: darkgrey;
     }
     #Menu{
       width: $W1;
       text-align: center;
       line-height: $NH;
       text-indent: -999999px;
       background-image: url(../../imgs/icon/0001.png);
       background-position: center;
       background-repeat:  no-repeat;
       background-size: contain;
     }
    .clear{
       clear:both;
     }
     #Portfolio, #About, #Project, #Connection {
       @extend %Dn;
      
     //  輪播圖片 超小與小裝置  100% X 280px(圖片以大尺寸1920*600為基礎計算)
      //  vw(以裝置的寬為寬度) vh(以裝置的高為高度)
     #Bannerbox {
      //  讀取03的資料
      > .Arrow {
        line-height: 140px;
        margin: {
          top: -70px;
        }
        > .arrow {
           height: 140px;
        }
      }
    }
  }
}
  }
footer {
 nav {
  
   }
 }