@charset "UTF-8";
/* 樣式 */
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
* {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  font-family: 'cwTeXYen', sans-serif,'微軟正黑體';
}

img {
  width: 100%;
  height: auto;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
  color: aquamarine;
}

a:hover {
  color: chocolate;
  font-weight: 650;
}

header nav #Portfolio, header nav #About, header nav #Project, header nav #Connection {
  display: none;
}

@media screen and (max-width: 576px) {
  /*
網頁使用的單位
寬度 高度 行距 文字 物件的距離(外間距與內間距),只要能計算的質都有單位
基礎單位 像素(PX)
響應是網頁的單位 百分比(%) vw 與 vh(裝置可視的寬度與高度,新單位)

1.百分比(%)的缺點,高度無法顯示
2.vw 與vh的缺點,舊瀏覽器IE不支援;MAC瀏覽器(safari),因為手機板需要扣除瀏覽器自帶功能的按鈕(在畫面的下方)

行距 文字,百分比的單位 em (子物件的設定值會疊加父物件的設定值)和rem(不受父物件的設定值影響)
 */
  header nav #Portfolio, header nav #About, header nav #Project, header nav #Connection {
    display: none;
  }
  footer nav #pohotoshop作品, footer nav #illustrator作品, footer nav #水彩作品 {
    width: 50%;
    color: white;
  }
  header nav {
    width: 100vw;
    background-color: lightpink;
  }
  header nav li {
    float: left;
  }
  header nav #Logo {
    width: 85vw;
    font-size: 2rem;
    text-indent: 30px;
    text-align: center;
    line-height: 65px;
    background-image: url(../../imgs/icon/0001.png);
    text-indent: -999999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  header nav #portfolio, header nav #About, header nav #Project, header nav #Contact {
    display: none;
  }
  header nav #Menu {
    width: 15vw;
    text-align: center;
    line-height: 65px;
    text-indent: -999999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  header nav .clear {
    clear: both;
  }
  header nav #Portfolio, header nav #About, header nav #Project, header nav #Connection {
    display: none;
  }
  header #MobileNav {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10;
    display: none;
    background-color: tan;
  }
  header #BannerBox {
    width: 100vw;
    height: 280px;
    overflow-x: auto;
    background-color: cadetblue;
  }
  header #BannerBox picture {
    width: 500vw;
  }
  header #BannerBox picture .SmallImg {
    width: 100vw;
    float: left;
  }
  footer .HRLine {
    margin-bottom: 15px;
  }
  footer nav {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer #pohotoshop {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .LeftLine {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer #illustrator {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .RightLine {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  footer #watercolor {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  footer address {
    width: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  footer address .Line {
    width: 20vw;
    height: 30px;
    background-image: url(../../imgs/icon/00002.svg);
    text-indent: -999999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  footer h6 {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 200;
    background-color: chocolate;
  }
  #main #ContactBox {
    background-image: url(../../imgs/bg/w-08pla-1.gif);
  }
  #main #ContactBox #ContactTitle {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #main #ContactBox form {
    width: 80%;
  }
  #main #ContactBox form > div {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 5px;
  }
  #main #ContactBox form > #NameBox > label, #main #ContactBox form #ContactBox > .Mail > label, #main #ContactBox form #ContactBox > .Ques > p, #main #ContactBox form .TextArea > li {
    margin-bottom: 10px;
  }
  #main #ContactBox form > #NameBox > Input[type=text], #main #ContactBox form #ContactBox > .Mail > input {
    width: 100%;
    height: 30px;
    font-size: 1.1rem;
    padding-left: 10px;
    color: honeydew;
    font-weight: 500;
  }
  #main #ContactBox form .FormBtn > input [type=submit], #main .FormBtn > input #ContactBox form [type=submit], #main #ContactBox form .FormBtn > input [type=reset], #main .FormBtn > input #ContactBox form [type=reset] {
    width: 100px;
    height: 35px;
    font-size: 1.2rem;
    color: white;
    border: 0;
    border-radius: 15px;
  }
  #main #ContactBox form > div {
    font-size: 1.3rem;
  }
  #main #ContactBox form > #NameBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox form > #NameBox > label {
    width: 100%;
  }
  #main #ContactBox > .Mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox > .Mail > label {
    width: 100%;
  }
  #main #ContactBox > .Ques {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox > .Ques > p {
    width: 100%;
  }
  #main #ContactBox > li {
    width: 50%;
    margin-bottom: 15px;
  }
  #main .TextArea > li {
    width: 100%;
  }
  #main .TextArea > textarea {
    width: 100%;
    font-size: 1.2rem;
  }
  #main .FormBtn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #main .FormBtn margin {
    bottom: 0;
  }
  #main .FormBtn > input [type=submit] {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-color: #cc5050;
  }
  #main .FormBtn > input [type=reset] {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background-color: #3b6097;
  }
  #main .E_mail2 {
    display: none;
  }
}

header nav {
  height: 7vh;
  background-color: lightpink;
}

header nav li {
  float: left;
}

header nav #Logo {
  width: 90vw;
  font-size: 2rem;
  text-indent: 30px;
  line-height: 7vh;
  background-color: darkgrey;
}

header nav #Menu {
  width: 10vw;
  text-align: center;
  line-height: 7vh;
  text-indent: -999999px;
  background-image: url(../../imgs/icon/0001.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

header nav .clear {
  clear: both;
}

header #Bannerbox {
  width: 100vw;
  overflow-x: auto;
  background-color: cadetblue;
}

header #Bannerbox .ImgBox {
  width: 500vw;
}

header #Bannerbox .ImgBox .SmallImg {
  width: 100vw;
  float: left;
}

footer nav #pohotoshop作品 {
  background-color: bisque;
}

footer nav #illustrator作品 {
  background-color: aquamarine;
}

footer nav #水彩作品 {
  background-color: cadetblue;
}

@media screen and (min-width: 768px) {
  footer nav #pohotoshop作品, footer nav #illustrator作品, footer nav #水彩作品 {
    width: 50%;
    color: white;
  }
  header nav {
    height: 7vh;
    background-color: lightpink;
  }
  header nav li {
    float: left;
  }
  header nav #Logo {
    width: 90vw;
    font-size: 2rem;
    text-indent: 30px;
    line-height: 7vh;
    background-color: darkgrey;
  }
  header nav #Menu {
    width: 10vw;
    text-align: center;
    line-height: 7vh;
    text-indent: -999999px;
    background-image: url(../../imgs/icon/0001.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  header nav .clear {
    clear: both;
  }
  header nav #Portfolio, header nav #About, header nav #Project, header nav #Connection {
    display: none;
  }
  header #Bannerbox {
    width: 100vw;
    height: 280px;
    overflow-x: auto;
    background-color: cadetblue;
  }
}

@media screen and (min-width: 992px) {
  header nav {
    width: 100vw;
    background-color: lightpink;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav #Logo {
    width: 30vw;
  }
  header nav li {
    width: 17.5vw;
  }
  header nav #Logo {
    text-align: center;
    font-size: 2rem;
    text-indent: 0;
    background-color: white;
  }
  header nav li {
    text-align: center;
    font-size: 1.3rem;
    line-height: 4.3rem;
  }
  header nav #Portfolio, header nav #About, header nav #Project, header nav #Connection {
    display: none;
  }
  header nav #MENU {
    display: none;
  }
  #Bannerbox {
    width: 100vw;
    overflow-x: auto;
    background-color: cadetblue;
  }
  #main article {
    width: 100vw;
    height: 650px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: cornflowerblue;
  }
}

@media screen and (min-width: 1200px) {
  header nav {
    width: 100vw;
    background-color: lightpink;
  }
  header nav li {
    float: left;
  }
  header nav #Logo {
    width: 85vw;
    font-size: 2rem;
    text-indent: 30px;
    text-align: center;
    line-height: 65px;
    background-image: url(../../imgs/icon/0001.png);
    text-indent: -999999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  header nav #portfolio, header nav #About, header nav #Project, header nav #Contact {
    display: none;
  }
  header nav #Menu {
    width: 15vw;
    text-align: center;
    line-height: 65px;
    text-indent: -999999px;
    background-image: url(../../imgs/icon/0001.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  header nav .clear {
    clear: both;
  }
  header nav #Portfolio, header nav #About, header nav #Project, header nav #Connection {
    display: none;
  }
  header #BannerBox {
    width: 100vw;
    height: 280px;
    overflow-x: auto;
    background-color: cadetblue;
  }
  header #BannerBox picture {
    width: 500vw;
  }
  header #BannerBox picture .SmallImg {
    width: 100vw;
    float: left;
  }
  #main > #ContactBox > form {
    width: 45%;
  }
}

@media screen and (min-width: 1400px) {
  #main {
    width: 100%;
    background-color: midnightblue;
  }
}
